:root{
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
    background-color: var(--background-color);
    text-align: center;
    height: 100vh;
    padding: 0.2rem;
}
.header-content{
    /* width: 1280px; */
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo-icon{
    transform: scale(1.5);
}
.nav{
    display: none;
    gap: clamp(0.5rem, 1vw, 1.5rem);
}
@media (min-width:768px) {
    .nav{
        display: flex;
    }
}
.nav-link{
    color: #718096;
    font-size: 1rem;
    font-weight: 600;
    transition-property: color;
    transition-delay: 0.1s;
    padding:5px;
}
.nav-link:hover{
    color: var(--link-color);
}
.contact-button{
    color: var(--background-color);
    background-color: var(--primary-color);
    padding: 0.65rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    display: none;
    transition: background-color 0.1s;
}
@media (min-width:768px) {
    .contact-button{
        display: block;
    }
}
.contact-button:hover{
    background-color: #5254f8;
}
.menu-button{
    display: none;
    border:none;
    background-color: var(--background-color);
    padding: 0.5rem 0.9rem;
}
@media (width<768px) {
    .menu-button{
        display: block;
    }
}
.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}
.main-section{
    max-width: 1280px;
    gap: 2rem;
    padding:0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
/* content section  */
.content-left{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: slideFromLeft 1s ease forwards;
}
@keyframes slideFromLeft {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.section-label{
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
}
.section-heading{
    font-size: 3rem;
    color: var(--text-color);
}
.section-description{
    color: var(--gray);
    font-size: 1rem;
}
.button-group {
    display: flex;
    gap: 2rem;
    padding: 1.1rem;
    align-items: center;
    justify-content: center;
}
.start-button{
    color: var(--background-color);
    background-color: var(--primary-color);
    padding: 0.65rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.1s;
}
.tour-button{
    color: var(--background-color);
    background-color: var(--dark-gray);
    padding: 0.65rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.1s;
}
.start-button:hover{
    background-color: #5254f8;
}
.tour-button:hover{
    background-color: var(--gray);
}
.content-right{
    border:none;
    border-radius: 20px;
    overflow:hidden;
    height: 60vh;
}
.section-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media (min-width:768px) {
    .main-section{
        flex-direction: row;
    }
    .content-left{
        width: 50%;
        text-align: left;
    }
    .button-group{
        padding:0;
        justify-content: flex-start;
    }
    .content-right{
        height:70vh;
    }
}
/* company section */
.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 2rem auto;
    text-align: center;
}
.comapnt-title{
    font-size: 1.3rem;
    color: var(--text-color);
}
.company-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3.6rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    /* max-width: 60%; */
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    padding: 1.8rem 2.5rem;
}

.company{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
}
.company img{
    height: 1.5rem;
}
.company span{
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
}
@media (max-width:768px) {
    .company-grid{
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
    }
}
/* feature section */
.feature-container{
    background-color: var(--light-gray);
    padding:2.5rem 0;
    text-align: center;
}
.feature-content{
    max-width:800px;
    margin:0 auto;
}
.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main-title{
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
}
.main-description{
    color: var(--gray);
    font-size: 1rem;
}
.feature-grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 2rem;
}
.feature-card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding:1.6rem;
    border-radius: 1rem;
    gap: 1rem;
}
.icon-container{
    background-color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.feature-svg{
    width: 1.5rem;
    height: 1.5rem;
}
.feature-info{
    display:flex;
    flex-direction: column;
    gap:1rem;
    text-align: center;
    color:var(--background-color);
}
.feature-title{
    font-size: 1.3rem;
    font-weight: bold;
}
.feature-card:nth-child(1){
    background-color: #4a90e2;
}
.feature-card:nth-child(2){
    background-color: #FF6289;
}
.feature-card:nth-child(3){
    background-color: #fcbf58;
}
.feature-card:nth-child(4){
    background-color: #44bfc3;
}
.feature-card:nth-child(5){
    background-color: #77b05d;
}
.feature-card:nth-child(6){
    background-color: #7d78b1;
}
@media (max-width:768px) {
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
    }
}

/* testimonial section */
.testimonial-container{
    padding: 2rem;
    font-size: 1.3rem;
    text-align: center;
}
.testimonial-grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin-top: 2rem;
}
.testimonial-card{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--gray);
    border-radius: 1rem;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
    transition: border 0.1s ease 0s,transform 0.2s ease 0s;
}
.testimonial-card:hover{
    border: 2px solid var(--primary-color);
    transform: scale(1.05);
}
.testimonial-text{
    color: var(--dark-gray);
    font-size: 1rem;
    font-style: italic;
}
.testimonial-avatar img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    object-fit: cover;
}
.testimonial-details h3{
    font-size: 1.1rem;
    color: var(--primary-color);
}
.testimonial-details p{
    font-size: 0.9rem;
    color: var(--gray);
}

@media screen and (max-width:768px) {
    .testimonial-grid{
        grid-template-columns: repeat(1,1fr);
        max-width: 445px;
        margin: 2rem auto;
    }
    
}
/* newsletter section */
.newsletter-container{
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
}
.news-content{
    background-color: var(--light-gray);
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    height: 30vh;
}
.news-left{
    width: 50%;
    display: flex;
    justify-content: left;
}
.news-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.news-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:1rem;
    padding: 0.5rem;
}
.news-info{
    text-align:left;
    padding : 0 2rem;
}
.news-title{
    font-size: 2.5rem;
    color: var(--primary-color)
}
.news-desc{
    color: var(--gray);
    font-size: 1rem;
}
.news-form{
    padding: 0.3rem 2rem;
    display: flex;
    flex-wrap: wrap;;
    gap: 0.5rem;
}
.news-email{
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem;
}
.news-email:focus{
    outline: 0.5px solid #2563eb;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.news-send-button{
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}
.news-privacy{
    font-size: 0.8rem;
    color: var(--gray);
    padding: 0 2rem;
    text-align: left;
}
@media (768px<width<=1076px) {
    .news-right{
        width:50%;
    }
    .news-content{
        height: auto;
        max-height:40vh;
    }
}
@media (max-width:768px) {
    .news-content{
        flex-direction: column;
        height: auto;
        width:90%;
        margin: 0 auto;
    }
    .news-left img{
        display: none;
    }
    .news-right{
        width: 100%;
    }
    .news-title{
        font-size: 2rem;
    }
}

/* footer section */
footer{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-top{
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.footer-left{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}
.filler-text{
    color: var(--gray);
    font-size: 1rem;
    max-width: 400px;
}
.social{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.social-icon{
    height: 1.5rem;
    width: 1.5rem;
}
.footer-right{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
}
.footer-column{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-column-title{
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
}
.footer-link{
    color: var(--gray);
    font-size: 0.9rem;
    transition: color 0.1s;
}
@media (850px<width<=944px) {
    .footer-top{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .footer-left{
        max-width: 400px;
    }
    .footer-right{
        grid-template-columns: repeat(4,1fr);
        gap: 2rem;
    }
    .footer-logo{
        justify-content: center;
    }
    .social{
        justify-content: center;
    }
}
@media (max-width:850px) {
    .footer-top{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .footer-left{
        max-width: 400px;
        text-align: center;
    }

    .footer-right{
        grid-template-columns: repeat(2,1fr);
        gap: max(1rem, 10vw);
    }
    .footer-logo{
        justify-content: center;
    }
    .social{
        justify-content: center;
    }
}
.footer-bottom{
    color: var(--gray);
    font-size: 0.75rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    padding-top: 1.15rem;
    border-top: 1px solid #E5E7EB;
}