:root{
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}
body{
    background-color: var(--background-color);
    text-align: center;
    height: 100vh;
    padding: 0.2rem;
}
.header-content{
    /* width: 1280px; */
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo-icon{
    transform: scale(1.5);
}
.nav{
    display: none;
    gap: clamp(0.5rem, 1vw, 1.5rem);
}
@media (min-width:768px) {
    .nav{
        display: flex;
    }
}
.nav-link{
    color: #718096;
    font-size: 1rem;
    font-weight: 600;
    transition-property: color;
    transition-delay: 0.1s;
    padding:5px;
}
.nav-link:hover{
    color: var(--link-color);
}
.contact-button{
    color: var(--background-color);
    background-color: var(--primary-color);
    padding: 0.65rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    display: none;
    transition: background-color 0.1s;
}
@media (min-width:768px) {
    .contact-button{
        display: block;
    }
}
.contact-button:hover{
    background-color: #5254f8;
}
.menu-button{
    display: none;
    border:none;
    background-color: var(--background-color);
    padding: 0.5rem 0.9rem;
}
@media (width<768px) {
    .menu-button{
        display: block;
    }
}
.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}
.main-section{
    max-width: 1280px;
    gap: 2rem;
    padding:0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}